@page "{FileUrl}"
@model Secrets_sharing.Pages.DownloadModel
@{
    ViewData["Title"] = "Download";
}
<h3>@ViewData["Title"]</h3>
<form method="post">
    <button type="submit">Download</button>
</form>
