@page
@model Secrets_sharing.Pages.FilesModel
@{
    ViewData["Title"] = "Files";
}
<h3>@ViewData["Title"]</h3>

@{
    if (Model.Files is null)
    {
        <lable>Failed loading files from database.</lable>
        <br />
    }
    else if (Model.Files.Count == 0)
    {
        <label>You do not have files.</label>
        <br />
    }
    else
    {
        <table>
            @foreach (var f in Model.Files)
            {
                <tr>
                    <td>
                        <label>Name: </label>
                        @f.Name
                    </td>
                    <td>
                        <label>Download Link: </label>
                        <input id="DownloadLink" type="url" value="@Url.PageLink(pageName: "Download", values: new { FileUrl =  f.Url })" />
                    </td>
                </tr>
            }
        </table>
    }
}
@if (Model.Files is not null)
    {
        <a asp-page="Upload">Upload a new file</a>
    }