@page
@model Secrets_sharing.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<h3>@ViewData["Title"]</h3>
<form method="post">
    <table>
        <tr>
            <td>
                <label asp-for="Input.Email"></label><br />
                <input asp-for="Input.Email" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Input.Password"></label><br />
                <input asp-for="Input.Password" />
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Login</button>
            </td>
        </tr>
    </table>

</form>
