@page
@model Secrets_sharing.Pages.TextsModel
@{
    ViewData["Title"] = "Texts";
}
<h3>@ViewData["Title"]</h3>

@{
    if (Model.Texts is null)
    {
        <lable>Failed loading texts from database.</lable>
        <br />
    }
    else if (Model.Texts.Count == 0)
    {
        <label>You do not have texts.</label>
        <br />
    }
    else
    {

        <table>
            @foreach (var f in Model.Texts)
            {

                <tr>
                    <td>
                        <label>Name: </label>
                        @f.Name
                    </td>
                    <td>
                        <label>Link: </label>
                        <input id="DownloadLink" type="url" value="@Url.PageLink(pageName: "Download", values: new { FileUrl =  f.Url })" />
                    </td>
                    <td>
                        <form method="post">
                            <input name="Url" type="hidden" value="@f.Url" />
                            <input type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
            }
        </table>
    }
}
@if (Model.Texts is not null)
{
    <a asp-page="UploadText">Upload a new text</a>
}